## Assets for Toast

## Ground Heavy Kick

Texture ghost-ghk
File ghost/sprsht_ghost_ghk.png

Animation ghost-ghk
Texture ghost-ghk
Loop F
Frames 7 Auto
FrameSize 255 255

FrameOrder 7
Frame 1 80
Frame 2 80
Frame 3 80
Frame 4 80
Frame 5 50
Frame 6 110
Frame 7 200

## Ground Heavy Punch

Texture ghost-ghp
File ghost/sprsht_ghost_ghp.png

Animation ghost-ghp
Texture ghost-ghp
Loop F
Frames 5 Auto
FrameSize 255 255

FrameOrder 5
Frame 1 80
Frame 2 80
Frame 3 140
Frame 4 150
Frame 5 350

## Ground Light Kick

Texture ghost-glk
File ghost/sprsht_ghost_glk.png

Animation ghost-glk
Texture ghost-glk
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 80
Frame 2 80
Frame 3 140
Frame 4 180

## Ground Light Punch

Texture ghost-glp
File ghost/sprsht_ghost_glp.png

Animation ghost-glp
Texture ghost-glp
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 80
Frame 2 80
Frame 3 140
Frame 4 170

## Ducking Heavy Kick

Texture ghost-dhk
File ghost/sprsht_ghost_dhk.png

Animation ghost-dhk
Texture ghost-dhk
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 60
Frame 2 140
Frame 3 140
Frame 4 150

## Ducking Heavy Punch

Texture ghost-dhp
File ghost/sprsht_ghost_dhp.png

Animation ghost-dhp
Texture ghost-dhp
Loop F
Frames 6 Auto
FrameSize 255 255

FrameOrder 6
Frame 1 100
Frame 2 80
Frame 3 60
Frame 4 140
Frame 5 100
Frame 6 120

## Ducking Light Kick

Texture ghost-dlk
File ghost/sprsht_ghost_dlk.png

Animation ghost-dlk
Texture ghost-dlk
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 80
Frame 2 80
Frame 3 140
Frame 4 150

## Ducking Light Punch

Texture ghost-dlp
File ghost/sprsht_ghost_dlp.png

Animation ghost-dlp
Texture ghost-dlp
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 70
Frame 2 80
Frame 3 150
Frame 4 150

## Air Heavy Kick

Texture ghost-ahk
File ghost/sprsht_ghost_ahk.png

Animation ghost-ahk
Texture ghost-ahk
Loop F
Frames 5 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 130
Frame 2 115
Frame 3 115
Frame 4 90
Frame 5 140

## Air Heavy Punch

Texture ghost-ahp
File ghost/sprsht_ghost_ahp.png

Animation ghost-ahp
Texture ghost-ahp
Loop F
Frames 8 Auto
FrameSize 255 255

FrameOrder 8
Frame 1 88
Frame 2 88
Frame 3 88
Frame 4 88
Frame 5 110
Frame 6 80
Frame 7 10
Frame 8 20

## Air Light Kick

Texture ghost-alk
File ghost/sprsht_ghost_alk.png

Animation ghost-alk
Texture ghost-alk
Loop F
Frames 4 Auto
FrameSize 255 255

FrameOrder 4
Frame 1 40
Frame 2 120
Frame 3 140
Frame 4 150

## Air Light Punch

Texture ghost-alp
File ghost/sprsht_ghost_alp.png

Animation ghost-alp
Texture ghost-alp
Loop F
Frames 5 Auto
FrameSize 255 255

FrameOrder 5
Frame 1 80
Frame 2 80
Frame 3 140
Frame 4 150
Frame 5 150

## Idle

Texture ghost-idle
File ghost/sprsht_ghost_idle.png

Animation ghost-idle
Texture ghost-idle
Loop T
Frames 2 Auto
FrameSize 255 255

FrameOrder 2
Frame 1 250
Frame 2 250

## Walking

Texture ghost-walk
File ghost/sprsht_ghost_walk.png

Animation ghost-walk
Texture ghost-walk
Loop T
Frames 8 Auto
FrameSize 255 255

FrameOrder 8
Frame 1 100
Frame 2 100
Frame 3 90
Frame 4 100
Frame 5 100
Frame 6 100
Frame 7 90
Frame 8 100

## Jump Start

Texture ghost-jump-start
File ghost/sprsht_ghost_jump_start.png

Animation ghost-jump-start
Texture ghost-jump-start
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 150

## Ascending

Texture ghost-ascending
File ghost/sprsht_ghost_ascending.png

Animation ghost-ascending
Texture ghost-ascending
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Descending

Texture ghost-descending
File ghost/sprsht_ghost_descending.png

Animation ghost-descending
Texture ghost-descending
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Peak

Texture ghost-peak
File ghost/sprsht_ghost_peak.png

Animation ghost-peak
Texture ghost-peak
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Landing

Texture ghost-landing
File ghost/sprsht_ghost_landing.png

Animation ghost-landing
Texture ghost-landing
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Ducking Start

Texture ghost-duck-start
File ghost/sprsht_ghost_duck_start.png

Animation ghost-duck-start
Texture ghost-duck-start
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 100

## Ducking

Texture ghost-ducking
File ghost/sprsht_ghost_ducking.png

Animation ghost-ducking
Texture ghost-ducking
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Guard

Texture ghost-guard
File ghost/sprsht_ghost_guard.png

Animation ghost-guard
Texture ghost-guard
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Guard Stun

Texture ghost-guard-stun
File ghost/sprsht_ghost_guard_stun.png

Animation ghost-guard-stun
Texture ghost-guard-stun
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Hit Stun

Texture ghost-hit-stun
File ghost/sprsht_ghost_hit_stun.png

Animation ghost-hit-stun
Texture ghost-hit-stun
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Ducking Guard

Texture ghost-duck-guard
File ghost/sprsht_ghost_duck_guard.png

Animation ghost-duck-guard
Texture ghost-duck-guard
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Ducking Guard Stun

Texture ghost-duck-guard-stun
File ghost/sprsht_ghost_duck_guard_stun.png

Animation ghost-duck-guard-stun
Texture ghost-duck-guard-stun
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Ducking Hit Stun

Texture ghost-duck-hit-stun
File ghost/sprsht_ghost_duck_hit_stun.png

Animation ghost-duck-hit-stun
Texture ghost-duck-hit-stun
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Air Guard

Texture ghost-air-guard
File ghost/sprsht_ghost_air_guard.png

Animation ghost-air-guard
Texture ghost-air-guard
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Air Guard Stun

Texture ghost-air-guard-stun
File ghost/sprsht_ghost_air_guard_stun.png

Animation ghost-air-guard-stun
Texture ghost-air-guard-stun
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Grab Start

Texture ghost-grab-start
File ghost/sprsht_ghost_grab_start.png

Animation ghost-grab-start
Texture ghost-grab-start
Loop F
Frames 3 Auto
FrameSize 255 255

FrameOrder 3
Frame 1 80
Frame 2 80
Frame 3 140

## Grab 

Texture ghost-grab
File ghost/sprsht_ghost_grab.png

Animation ghost-grab
Texture ghost-grab
Loop F
Frames 6 Auto
FrameSize 255 255

FrameOrder 6
Frame 1 100
Frame 2 200
Frame 3 50
Frame 4 100
Frame 5 50
Frame 6 550

## Grab Missed

Texture ghost-grab-miss
File ghost/sprsht_ghost_grab_miss.png

Animation ghost-grab-miss
Texture ghost-grab-miss
Loop F
Frames 2 Auto
FrameSize 255 255

FrameOrder 2
Frame 1 80
Frame 2 80

## Grabbed

Texture ghost-jump-starting
File ghost/sprsht_ghost_jump_start.png

Animation ghost-jump-starting
Texture ghost-jump-starting
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Knockdown

Texture ghost-knockdown
File ghost/sprsht_ghost_knockdown.png

Animation ghost-knockdown
Texture ghost-knockdown
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Juggle

Texture ghost-juggle
File ghost/sprsht_ghost_juggle.png

Animation ghost-juggle
Texture ghost-juggle
Loop F
Frames 1 Auto
FrameSize 255 255

FrameOrder 1
Frame 1 250

## Recovery

Texture ghost-recovery
File ghost/sprsht_ghost_recovery.png

Animation ghost-recovery
Texture ghost-recovery
Loop F
Frames 11 Auto
FrameSize 255 255

FrameOrder 11
Frame 1 100
Frame 2 100
Frame 3 90
Frame 4 90
Frame 5 90
Frame 6 90
Frame 7 90
Frame 8 90
Frame 9 80
Frame 10 80
Frame 11 80
